@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #37afe1;
  --seconday-color: #4cc9fe;
  --background-color: #f6f5f0;
  --text-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: #07a3e6;
  border-radius: 10px;
}
body {
  width: 100vw;
  background-color: var(--background-color);
  overflow-x: hidden;
}
.box-shadow {
  box-shadow: 3px 3px 7px #d5d5d5, -3px -3px 5px #ebebeb;
}
/* header section css */
.header-content {
  max-width: 1200px;
  width: 95%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.header-content .logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}
.header-content .logo > .logo-icon {
  width: 30px;
  border-radius: 50%;
}
.header-content .logo > .logo-text {
  font-family: "Poppins", cursive;
  font-size: 1.31rem;
  font-weight: 400;
}

.nav-link {
  font-size: 1.3rem;
  margin-right: 10px;
  font-weight: 400;
  color: var(--text-color);
  transition: all 0.3s ease;
  display: inline-block;
}
.nav-link:hover {
  color: var(--seconday-color);
  transform: scale(1.05);
}
.humberger-icon {
  cursor: pointer;
  display: none;
 
  margin-right: 5px;
}
.humberger-icon:hover {
  color: var(--seconday-color);
}
.humberger-icon > i {
  font-size: 25px;
  height: 100%;
  width: 100%;
}
#check {
  display: none;
}
.nav .cancel {
  display: none;
}
@media (max-width: 760px) {
  .humberger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-content {
    position: relative;
  }
  .nav{
    display:none;
  }
  .nav .nav-link {
    margin-bottom: 0.6rem;
  }
  .nav .cancel {
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
  }
  .nav .cancel:hover {
    color: #07a3e6;
  }
  .nav .cancel > i {
    font-size: 27px;
  }
  #check:checked ~ .humberger-icon {
    display: none;
  }
  #check:checked ~ .nav .cancel {
    display: block;
  }
  #check:checked ~ .nav {
    position: absolute;
    right:0;
    top: 18px;
    height: 40vh;
    width: 100%;
    max-width: 500px;
    background-color: var(--background-color);
    box-shadow: 5px 5px 9px #d5d5d5, -5px -5px 9px #ebebeb;
    display: none;
    z-index: 1;
    margin: 0;
    padding: 3rem 1rem;
    transition: all 0.3s ease;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.hero-content {
  margin:60px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.hero-content .content-right {
  width: 100%;
  /* border:2px solid pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  animation: mover 1s infinite alternate;
}
.hero-content .content-right > #hero-image {
  height: 18.75rem;
  width: 18.75rem;

  border-radius: 49% 51% 56% 44% / 42% 41% 59% 58%;
  background-color: #37afe1;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.hero-content .content-left {
  width: 100%;
  padding: 2rem;
}
.hero-label {
  font-size: 1.5rem;
  color: var(--seconday-color);
  opacity: 0;
  animation: slideright 1s forwards;
}
.hero-title {
  font-size: 3rem;
  color: var(--primary-color);
  animation: slideright 0.9s forwards;
  font-weight: 700;
  line-height:3rem;
  margin: 1rem 0;
}
@media (max-width: 760px){
  .hero-title{
    font-size: 2.5rem;
  }
}
.hero-description {
  font-size: 1.1rem;
  animation: slideright 0.8s forwards;
}
.resume-btn > button {
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  border-radius: 6px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #07a3e6;
  color: var(--background-color);
  transition: all 0.3s ease;
}
.resume-btn > button:hover {
  background-color: #36baf3;
}
@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* social media icons  */
.social-media-content {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  /* border: 2px solid var(--primary-color); */
  background-color: #d8eef4;
  animation: slideright 1s forwards;
}
.social-icon > i {
  font-size: 35px;
  color: #07a3e6;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 0.5rem;
  
}
.social-icon > i:hover{
  transform: scale(1.1);
}
.fa-twitter:hover {
  color: #1877f2;
}
.fa-linkedin:hover {
  color: #1da1f2;
}
.fa-youtube:hover {
  color: #cd201f;
}
.fa-instagram:hover {
  color: #0a66c2;
}
@media (max-width: 760px) {
  .hero-content {
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .hero-content .content-left {
    text-align: center;
  }
  .social-media {
    padding: 0rem 1rem;
  }
}

/* services section */
.services-content {
  max-width: 1200px;
  /* height: 100vh; */
  margin:60px auto;
  margin-bottom: 20px;
  text-align: center;
  /* border: 2px solid pink; */
  padding: 2rem 1rem;
}
.services-content .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 3.5rem;
}
@media (max-width: 760px) {
  .services-content .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.services-content .services-content-description {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  font-size: 1.2rem;
  font-weight: 500;
  color: #36baf3;
}
.services-card {
 
  border-radius: 1rem;
  padding: 2rem 1rem;
}
.services-card:nth-child(1){
  background-color:#5585B5;
}
.services-card:nth-child(1) .card-img > i{
  color:#5585B5;
}
.services-card:nth-child(2){
  background-color: #53A8B6;
}
.services-card:nth-child(2) .card-img > i{
  color:#53A8B6;
}
.services-card:nth-child(3){
  background-color: #79C2D0;
}
.services-card:nth-child(3) .card-img > i{
  color:#79C2D0;
}
.services-card:nth-child(6){
  background-color: #A2D5F2;
}
.services-card:nth-child(6) .card-img > i{
  color:#A2D5F2;
}
.services-card:nth-child(5){
  background-color: #6DB7CA;
}
.services-card:nth-child(5) .card-img > i{
  color:#6DB7CA;
}
.services-card:nth-child(4){
  background-color: #77CDFF;
}
.services-card:nth-child(4) .card-img > i{
  color:#77CDFF;
}
.services-content .card-grid .services-card .services-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  color:#EBF5EE;
}
.services-content .card-grid .services-card .services-description {
  font-size: 0.95rem;
  font-weight: 500;
  color:#EBF5EE;
}

.services-card .card-img > i {
  font-size: 2rem;
  border-radius: 50%;
  padding:0.6rem;
  background-color: var(--background-color);
}
/* project section */
.project-section{
  max-width: 1200px;
  margin:60px auto;
  padding: 1rem;
  width:100%;
}
.project-section .project-title{
  color:var(--primary-color);
  font-size: 2rem;
}
.project-section .project-description{
  color:var(--seconday-color);
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  max-width: 700px;
}
.project-section .grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:1rem;
  margin: 1rem 0px;
  row-gap:2rem;
}

@media (max-width:770px){
  .project-section .grid-container{
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    row-gap: 1rem;
  }
  .project-section .project-title,.project-description{
    text-align: center;
  }
}

.project-section .grid-container .project-card {
  border-radius: 1rem;
  padding: 1rem;
  border:2px solid transparent;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.project-section .grid-container .project-card .title{
  color:var(--primary-color);
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  margin-top: 0.3rem;
}
.project-section .grid-container .project-card .desc{
  color:var(--seconday-color);
  font-size: 0.78rem;
  font-weight: 500;
}
.project-section .grid-container .project-card:hover{
  border-color: var(--primary-color);
  transform: scale(1.03);
}
.project-section .grid-container .project-card .card-video>video{
  width:100%;
  border-radius:5px;
}


/* about section */
.about-container{
  width: 100%;
  padding:60px 0px;
}
@media (max-width:760px) {
  .about-container{
    height: auto;
  }
}
.about-content{
  background-color: #d8eef4;
  width: 100%;
}
.about-section{
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap:1rem;
  margin:0 auto;
  padding: 70px 0px;
}

.about-section .content-left{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #07a3e6; */
}
.about-section .content-left .about-img{
  max-height: 18.75rem;
  max-width: 18.75rem;

  border-radius: 49% 51% 54% 46% / 71% 66% 34% 29%;
  margin-top:0rem;
  animation: mover 1s infinite alternate;
}
.about-section .content-right{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.about-section .content-right .about-title .title{
  font-size: 2rem;
  color:var(--primary-color);
  width: 100%;
}
.about-description{
  color:var(--seconday-color);
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
}
.skills-section{
  width: 100%;
  margin-top: 20px;
}
.skills{
  margin: 10px 0;
}
.skills-bar{
  width:100%;
  height: 12px;
  background-color: var(--background-color);
  border: 1px solid #0a66c2;
  border-radius: 6px;
  position:relative;
}
.skills-bar .circle{
  position: absolute;
  top: -4px;
  left: 77%;
  z-index: 1;
  height: 20px;
  width: 20px;
  background-color: var(--background-color);
  border:1px solid #0a66c2;
  border-radius: 50%;
  cursor: pointer;
}
.skills-bar-fill{
  position: relative;
  left: 0;
  width: 80%;
  height: 100%;
  background-color:#1da1f2;
  border-radius: 6px;
  
}
.skills-bar-fill2{
  width:60%;
}
.skills-bar-fill3{
  width:48%;
}
.skills-bar-fill4{
  width:90%;
}
.skills-bar .circle2{
  left:57%;
}
.skills-bar .circle3{
  left:45%;
}
.skills-bar .circle4{
  left:88%;
}

.skills-title .title{
  font-size: 0.9rem;
  font-weight: 400;
  color:#0a66c2;
  margin-bottom: 0.3rem;
}
.skills-title{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 400;
  color:#0a66c2;
}
@media (max-width:760px) {
  .about-section{
    flex-direction: column;
    
  }
  .about-section .content-right{
    padding-left:2rem;
    padding-right:2rem;
    text-align: center;
  }
  .about-section .about-description{
    width: 100%;
    
  }
}
/* testinomial section */
.testimonial-section{
  background-color: var(--background-color);
  margin:0 auto;
  padding:2rem;
  max-width: 1200px;
}
.testimonial-title{
  font-size:1.875rem;
  font-weight: bold;
  color: var(--primary-color);
}
.testimonial-grid{
  display: grid;
  grid-template-columns:repeat(1,1fr);
  gap:2rem;
}
@media screen and (min-width:770px){
  .testimonial-grid{
      grid-template-columns: repeat(3,1fr);
  }
}
.testimonial-card{
  border:1px solid rgb(177, 177, 177);
  border-radius: 1rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow:0 2px 4px rgba(0,0,0,0.1);
  padding: 0.8rem;
  gap:1rem;
  transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.testimonial-card:hover{
  transform:scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border:1px solid blue;
}

.testimonial-avatar img{
  height:5rem;
  width: 5rem;
  border-radius: 50%;
}
.testimonial-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
}
.testimonial-text{
  font-size:0.875rem;
  color:#555;
}
.testimonial-name{
  font-size: 1rem;
  color:var(--primary-color);
}
.testimonial-description{
  font-size:0.875;
  color:#777;
}

/* footer section  */
.footer-section{
  max-width: 1150px;
  width:100%;
  margin:0 auto;
  padding:1rem;
  background-color: var(--background-color);
  
}
.footer-section .footer-contact{
  display: flex;
  /* gap:1rem; */
  width:100%;
  /* padding:1rem; */
  
}
@media (max-width:760px){
  .footer-section .footer-contact{
    flex-direction: column;
  }
}
.footer-contact .contact-form{
  width: 50%;
  padding:3rem 1.2rem;
  /* border: 2px solid pink; */

}
.contact-form .form-heading{
  font-size:1.1rem;
  margin-bottom:10px;
  font-weight:500;
  color:var(--primary-color);
}
.form .column{
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
}
.form .input-box{
  width: 100%;
}
.form .input-box>input{
  width:100%;
  height: 37px;
  border-radius:2rem;
  border:1px solid #07a3e6;
  /* background-color:rgb(217, 217, 217); */
  outline: none;
  padding:0.5rem 0.7rem;
  color:var(--primary-color);
  margin-bottom:10px;
  font-size:0.9rem;
  font-weight: 500;
}
.form .input-box>textarea{
  width: 100% !important;
  height: 100px;
  border:1px solid #07a3e6;
  border-radius:1.3rem;
  padding:0.5rem 0.7rem;
  font-size:0.9rem;
  font-weight: 500;
  outline: none;
  color:var(--primary-color);
  resize: none;
}
::placeholder {
  color:var(--primary-color);
}

::-ms-input-placeholder { 
  color:var(--primary-color);
}
.form .btn-box>button{
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #07a3e6;
  color: var(--background-color);
  transition: all 0.3s ease;
}
.form .btn-box>button:hover{
  background-color: #36baf3;
}
.footer-contact .footer-information{
  background-image: url(./contact-img-removebg-preview.png);
  background-position:center;
  background-size:cover ;
  background-repeat: no-repeat;
  /* background-color: #07a3e6; */
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (max-width:760px){
  .footer-section .footer-contact{
    flex-direction: column;
  }
  .footer-contact .contact-form{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer .footer-information{
    width: 100%;
    border-top-right-radius:0px;
    border-bottom-left-radius:6px;
  }
  .form .column{
    flex-wrap: wrap;
  }
}

.footer-copyright-section{
  max-width:1200px;
  width:100%;
  font-size: 1rem;
  color:#777;
  margin:20px auto ;
  padding:0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:760px) {
  .footer-copyright-section{
    padding:0 1rem; 
  }
}
.footer-copyright-section .arrow-up{
  height:37px;
  width: 37px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left:1rem;
}

.footer-copyright-section .arrow-up>i{
  font-size: 30px;
  color:#07a3e6;
}